.btn.custom-purple-btn {
    background-color: #CF9FFF;
    border-color: #CF9FFF;
    color: white;
  }


  .btn.btn-outline.custom-purple-btn {
    border-color: #CF9FFF;
    color: #CF9FFF;
    background-color: transparent;
}


  